@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* fonts */
$Poppins: 'Poppins', sans-serif;

/* colors */
$dark: black;
$light: white;
$primary: powderblue;
$back-ground: rgb(154, 154, 196);
$header-back-ground: rgb(61, 61, 128);
$hover-color: rgb(165, 105, 48);

/* border radius */
$border-radius: 0.5rem;

/* header height */
$header-height: 100px;